# 1. 글로벌 설정 (모든 블록에 적용되도록 최상단 배치)
CompileFlags:
  CompilationDatabase: "builddir"
---
# 2. 순수 C 소스 파일(.c)에 대한 규칙
If:
  PathMatch: [.*\.c]
CompileFlags:
  Add: [-std=c11, -xc]
  Compiler: gcc.exe

---
# 3. C++ 소스 파일(.cpp)에 대한 규칙
If:
  PathMatch: [.*\.cpp]
CompileFlags:
  Add: [-std=c++17, -xc++]
  Compiler: g++.exe
---
Documentation:
    CommentFormat: Doxygen
Index:  
  Background: Build