# .clang-tidy
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  readability-duplicate-include,
  -bugprone-easily-swappable-parameters,
  -misc-no-recursion,
  -Wignored-qualifiers
WarningsAsErrors: 'readability-duplicate-include'
HeaderFilterRegex: '.*'